table.og-blueprint-admin-table {
  caption-side: bottom;
}

table.og-blueprint-admin-table, table.og-blueprint-admin-table th {
  text-align: center;
}

table.og-blueprint-admin-table td.region {
  text-align: left;
  padding-left: 1em;
  font-style: italic;
}

table.og-blueprint-admin-table caption {
  font-size: .8em;
  line-height: 1.4em;
  font-style: italic;
  margin: 0 0 1em;
}

div#og-blueprint-dashboard {
  width: 33%;
  float: right;
}

div#og-blueprints-admin-helptext {
  float: left;
  text-indent: 2em;
  width: 62%;
  margin-right: 2%;
}

div#og-blueprints-admin-header-wrapper {
  margin-bottom: 2em;
}
